<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <record model="ir.ui.view" id="server_tree_view">
            <field name="name">server.tree.view</field>
            <field name="model">cloudmanager.server</field>
            <field name="arch" type="xml">
                <tree string="Server">
                    <field name="name"/> 
                    <field name="ftNotes" /> 
                    <field name="fcServerFQDN" /> 
                    <field name="fm2oProvider" /> 
                    <field name="fm2oServerStatus" /> 
                    <field name="fm2oMachineType" /> 
                    <field name="fm2oImage" /> 
                    <field name="fm2oZone" /> 
                    <field name="fcTimeZone" /> 
                    <field name="fcDiskSize" /> 
                    <field name="fcRamSize" /> 
                    <field name="state"/> 
                </tree>
            </field>
        </record>

        <record model="ir.ui.view" id="server_form_view">
            <field name="name">server.form.view</field>
            <field name="model">cloudmanager.server</field>
            <field name="arch" type="xml">
                <form string="Server">
                    <header>
                        <button name="to_ready" states="draft" string="To Ready" type="object" 
                            help="Change state to ready to deploy"/>
                        <button name="to_draft" states="ready" string="To Draft" type="object"
                            help="Return to draft state for further configuration. Can not be already deployed"/>
                        <button name="deployvm" states="ready" string="Deploy VM" type="object"
                            help="Connect to provider and start VM as configured"/>
                        <field name="state" widget="statusbar"/>
                    </header>
                    <sheet>
                        <group>
                            <field name="name"/> 
                            <field name="fcServerFQDN" /> 
                            <field name="ftNotes"/> 
                            <field name="fm2oProvider"/> 
                            <field name="fm2oServerStatus"/> 
                            <field name="fm2oMachineType" domain="[('fm2oProvider', '=', fm2oProvider)]"/> 
                            <field name="fm2oImage" domain="[('fm2oProvider', '=', fm2oProvider)]"/> 
                            <field name="fm2oZone" domain="[('fm2oProvider', '=', fm2oProvider)]"/> 
                            <field name="fcTimeZone" /> 
                            <field name="fcDiskSize" /> 
                            <field name="fcRamSize" /> 
                        </group>
                    </sheet>
                </form>
            </field>
        </record>

        <record model="ir.actions.act_window" id="server_list_action">
            <field name="name">Server</field>
            <field name="res_model">cloudmanager.server</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">Create the first server
                </p>
            </field>
        </record>

        <menuitem id="server_menu" name="Server" parent="cloudmanager_menu"
                  action="server_list_action"/>
    </data>
</openerp>


